@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;700&display=swap');

.home {
  overflow-x: hidden;
}

.h_nav {
  padding-top: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  color: #F7F5F5;
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: #1D1F23;
  border-bottom: 1px solid #41444c;
  padding-bottom: 10px;
}

.name {
  font-size: 32px;
  margin-left: 45vw;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 25vw;
  font-size: 24px;
}

.join, .more {
 color: #fff;
}

.join:visited, .more:visited {
  color: #fff;
}


.more {
  padding-right: max(5vw, 10px);
}

@media (max-width: 780px) {
  .name {
    font-size: 32px;
    margin-left: 5vw;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10vw;
    font-size: 24px;
  }
}