.body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'IBM Plex Mono', monospace;
}


.s_nav {
  background-color: #1D1F23;
  color: #fff;
  height: max(8vh, 40px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #363638;
  position: fixed;
  z-index: 10;
}


.s_nav .logo {
  font-size: 32px;
  margin-right: auto;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  font-weight: lighter;
}

.s_nav .logo img {
  margin-right: 6px;
}


.s_nav input{
  width: 25vw;
  height: max(5vh, 35px);
  outline: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  font-size: 24px;
  padding: 10px;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  margin-left: 6vw;
}



.s_nav .help {
  font-size: 22px;
  margin-left: 2vw;
}

.s_nav .profile {
  display: flex;
  font-size: 24px;
  width: 15px;
  height: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: max(2vh, 1vw);
  margin-left: auto;
  margin-right: 2vw;
}

.Main {
  margin-top: 8vh;
  background-color: #1D1F23;
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 55px;
  /* border: 1px solid red; */
}

.today .heading {
  color: #fff;
  font-size: 30px;
}

nav button {
  margin-left: 2vw;
  font-size: 22px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.9vh;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

nav button:hover {
  text-decoration: underline;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #363638 #1D1F23;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
}

*::-moz-scrollbar-thumb {
  background-color: #000000;
}

*::-webkit-scrollbar-track {
  background-color: #1D1F23;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  /* background: transparent; */
}
::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
  border-radius: 20px;
  border: transparent;
}

/* fade in images once page is loaded */
.fade-in {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.fade-in.active{
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.profile:hover {
  outline: 1.5px solid rgba(255, 255, 255, 0.8);
}

.profile:active {
  outline: 1.5px solid rgba(255, 255, 255, 1);
}

.loading-bar-container {
  margin-left: 20vw;
  margin-top: 20vh;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
}

.loading-bar {
  width: 50%;
  height: 100%;
  background-color: #a8a8a8;
  animation: loadingAnimation 1.5s linear infinite alternate; /* Back-and-forth animation */
}

.cards .loading {
  width: 40vw;

}




.body input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.body form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}









@keyframes loadingAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}



@media only screen and (max-width: 600px){
  .s_nav .logo {
    font-size: 28px;
    margin-left: 5vw;
  }
  .s_nav .logo img {
    scale: 1.5;
  }

  .photos-container {
    margin-left: -10%;
    margin-right: -10%;
  }



  .s_nav .profile {
    width: 8px;
    height: 8px;
    margin-right: 8vw;
    margin-top: -1vh;
  }

  .s_nav .search {
    margin-right: -5vw;
  }

  .s_nav .search input{
    width: 85%;
  }

  #uploadbtn {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-top: 175vh;
    margin-right: -8vw;
  }

  .upload {
    font-size: 40px;
    margin-top: -15px;
  }
}