.Home {
  text-align: center;
  background-color: #1D1F23;
  width: 100vw;
  height: 300vh;
  position: relative;
  overflow-x: hidden;
  
}

.Landing {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}


/* animation for cards */

@keyframes firstMove {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}


.square {
  width: 100px;
  height: 100px;
  background-color: red;
}

.content {
  width: 100vw;
  height: 300vh;
  position: relative;
}

.animation-box {
  width: 100vw;
  height: 90vh;
  /* background-color: red; */
  position: sticky;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.animation-box .card {
  width: 400px;
}