.Home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #1D1F23;
  overflow: hidden; 
	height: 300vh;
}

.Landing {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.frame-box {
  width: 100%;
  height: 90vh;
  position: sticky;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
	margin-top: 10vh;
}

.frame-box img {
	margin-bottom: 10%;
}

.icon-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icons {
	max-width: 43%;
	max-height: 43%;
	transform: translate(80px, 80px);
	grid-column: 1 / 2;
	align-items: flex-start;
}

.phone {
	transform: translate(-100px, 150px);
	padding-right: 20px;
}

.text-title {
	color: #fff;
	font-size: 40px;
	width: 100vw;
}

.text-h1 {
	color: #fff;
	font-size: 25px;
	width: 100vw;
}

.text-h2 {
	transform: translateX(-100px);
	color: #fff;
	font-size: 20px;
	width: 10vw;
	text-align: left;
}

.text-caption {
	color:#fff;
	font-size: 20px;
	width: 50vw;
	text-align: left;
	margin-left: 100px; 
}

.image-box {
	height: 100vh;
	padding: 2% 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img1 {
	width: 30%;
	height: 90%;
	/* background-color: white; */
	margin: 0 5%;
}

.img2 {
	width: 30%;
	height: 90%;
	/* background-color: white; */
	margin: 0 5%;
	display: flex;
	flex-direction: column;
}

.img2 img { 
	height: 300px;
}

/* Adjust for mobile */
@media (max-width: 780px) {
	.Home {
	  height: auto;
	}
  
	.Landing {
	  margin-top: 100px;
	}
  
	.frame-box {
	  height: 150vh;
	  margin-top: -10vh;
	  flex-direction: column;
	}
  
	.frame-box img {
	  margin-bottom: 5%;
	}
  
	.icon-container {
	  flex-direction: column;
	  align-items: flex-start; 
	}
  
	.icons {
	  max-width: 100%;
	  max-height: auto;
	  transform: none;
	}
  
	.phone {
	  transform: none;
	  padding-right: 0;
	  max-width: 50%;
	}

	.text-title {
		font-size: 35px;
	}

	.text-h1 {
		font-size: 20px;
	}
  
	.text-h2 {
	  font-size: 20px;
	  width: 40vh;
	  transform: none; 
	  text-align: center;
	}
  
	.text-caption {
	  width: 100%; 
	  text-align: center; 
	  margin-left: 0;
	}
  
	.image-box {
	  height: auto; 
	  padding: 2% 2%; 
	}
  
	.img1, .img2 {
	  display: none; 
	}
  
	.img2 img {
	  display:none;
	}
  }