.card {
  /* max-width: 300px;
  max-height: 300px; */
  border-radius: 7px;
  margin-right: 3vw;
  margin-bottom: 4vh;
  /* border: 5px solid red; */
}


.card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
}

.cardWrapper.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardWrapper.enlarged .card {
  margin-right: 0;
  /* border: 1px solid red; */
}

.cardWrapper.enlarged img {
  width: auto;
  height: auto;
  min-width: auto;
  min-height: 100%;

}


.editCard {
  margin-top: -3.5vh;
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 50px;
  height: 5vh;
}

.editCard .deleteBtn {
  background-color: #fff;
  border: none;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  height: 60%;
}

.tags {
  z-index: 999;
  display: flex;
  height: 60%;
  overflow: hidden;
}

.tag {
  padding: 4px;
  border-radius: 10px;
  margin-right: 5px;
  overflow: hidden;
}

.tag button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.tags #addTagBtn {
  background-color: #8dd9fc;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px 5px;
  cursor: pointer;
}

.tags #addTagInput {
  background-color: #8dd9fc;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  margin-top: 0%;
  padding-right: 20px;
}

.tags #addTagInput:focus {
  outline: none;
  border: none;
}

.tags .tagInputContainer {
  display: flex;
}

.tags .tagInputContainer .closeButton {
  margin-left: -20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* mobile layout */

@media only screen and (max-width: 600px){
  .card {
    max-width: 40%;
    max-height: 10%;
  }

  .card img {
    max-width: 100%;
    max-height: 10%;
    border-radius: 7px;
  }

  .tags {
    display: none;
  }
}